<form action="/form" method="post">

<input type="text" placeholder="Name" name="name">
<input type="Number" placeholder="Class" name="class">
<input type="text" placeholder="Age" name="age">



<input type="submit" value="Submit">


</form>