
<h1>{{messages}}</h1>
<form action="/show" method="post">
<input type="text" name="name" placeholder="Name">
<input type="text" name="class" placeholder="Class">


<input type="submit" value="Login">
</form>