
<h1>{{messages}}</h1>
<form action="/login" method="post">
<input type="text" name="Name" placeholder="Name">
<input type="text" name="class" placeholder="Class">


<input type="submit" value="Login">
</form>